.editor {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #dcdcdc;
  &-components {
    display: flex;
    flex-direction: row;
    &-class {
      display: flex;
      flex-direction: column;
      box-shadow: 4px 2px 4px #dadada;
      &-item {
        width: 100px;
        height: 80px;
        // background: #d7cbe9;
        margin: 10px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 14px;

        > span {
          margin-top: 8px;
          &:active {
            color: #1890ff;
          }
        }
        &:hover {
          background-color: #e6f7ff;
        }
      }
    }
    &-list {
      width: 270px;
      min-width: 270px;
      display: flex;
      flex-direction: column;
      border-left: 1px solid #dcdcdc;
      &-preview {
        margin: 20px auto;
        padding: 20px;
        box-sizing: border-box;
        width: 250px;
        min-height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: move;
        user-select: none;
        position: relative;
        background-color: #f7f8fa;
        border: 1px solid #8ea9e0;
        > span {
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgb(0, 187, 225);
          padding: 0 5px;
          color: #fff;
        }
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc rgba(199, 199, 199, 0.5);
        }
      }
    }
  }
  &-top {
    position: absolute;
    right: 280px;
    top: 0;
    left: 280px;
    height: 80px;
    background-color: #ccc;
  }
  &-container {
    width: 100%;
    display: flex;
    position: relative;
    user-select: none;
    &-mask {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      cursor: grab;
      &:active {
        cursor: grabbing;
      }
    }
    &-canvas {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: scroll;
      width: 100%;
      height: 100%;
      background-color: #f0f0f0;
      .mask {
        position: absolute;
        background-color: #e7e5fe96;
        border: 1px solid #8ea9e0;
        z-index: 99;
      }
      &-content {
        position: relative;
        background-color: #fff;
        box-shadow: 0px 0px 12px 2px #a2a2a2;
      }
      // &-ruleX {
      // }
      // &-ruleY {
      // }
    }
    &-setting {
      width: 270px;
      height: 100%;
      min-width: 270px;
    }
  }
  &-block {
    position: absolute;
    border: 1px rgba(255, 255, 255, 0) solid;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc rgba(199, 199, 199, 0.5);
    }
    &:hover {
      // border: 1px dashed red;
      cursor: move;
    }
    &-focus::after {
      border: 2px dashed #7367f8;
    }
  }
}
.line-x {
  position: absolute;
  top: 0;
  bottom: 0;
  border-left: 1px dashed #046958;
}
.line-y {
  position: absolute;
  left: 0;
  right: 0;
  border-top: 1px dashed #046958;
}
