$bezier-ease-in: cubic-bezier(0.4, 0, 1, 1);
$bezier-ease-out: cubic-bezier(0, 0, 0.2, 1);
$bezier: cubic-bezier(0.4, 0, 0.2, 1);
.rightMenu-container {
  position: absolute;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 9px 28px 8px rgba(0, 0, 0, 0.05);
  transition: background-color 0.3s $bezier, box-shadow 0.3s $bezier;
}
.rightMenu-menu {
  position: relative;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 5px 0;
  margin: 0;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: none;
  list-style: none;
  outline: none;
  &-divider {
    height: 1px;
    margin: 4px;
    background-color: #f0f0f6;
  }
  &-item {
    display: flex;
    align-items: center;
    white-space: nowrap;
    list-style: none;
    line-height: 22px;
    padding: 5px 16px;
    font-size: 14px;
    color: rgb(51, 54, 57);
    cursor: pointer;
    outline: none;
    i {
      margin-right: 9px;
    }
  }
  &-item:hover {
    background-color: #d1e0f0;
  }
}
